@import url('https://fonts.googleapis.com/css?family=Kalam');

#loading-animation-wrapper {
	background-color: #fff;
	width: 100%;
	height: 100%;
	position: fixed;
	z-index: 10;
	display: flex;
	justify-content: center;
	align-items: center;
	
}

#loading-animation-wrapper .loading {
	width: 15vw;
	height: 15vw;
	display: grid;
	grid-template-columns: 50% 50%;
	grid-template-rows: 50% 50%;
	grid-column-gap:4px;
	grid-row-gap:4px;
	-ms-grid-columns: 50% 50%;
	-ms-grid-rows: 50% 50%;
}

#loading-animation-wrapper .loading::after {
	content: "Loading...";
	grid-column-start:1;
	grid-column-end:3;
	grid-row-start:3;
	grid-row-end:4;
	text-align: center;
	font-size: 20px;
	margin-top: 10px;
	font-family: 'Kalam', cursive;
}

#loading-animation-wrapper .loading .loading-box {
	animation: loading 1.6s linear infinite;
	opacity: 0;
	border-radius: 3px;
}

#loading-animation-wrapper .loading .loading-box:first-child {
	background-color: pink;
	animation-delay: 0s;
	-ms-grid-column:1;
    -ms-grid-row:1;
}

#loading-animation-wrapper .loading .loading-box:nth-child(2) {
	background-color: lightblue	;
	animation-delay: 0.4s;
	-ms-grid-column:2;
    -ms-grid-row:1;
}

#loading-animation-wrapper .loading .loading-box:nth-child(3) {
	background-color: purple;
	animation-delay: 1.2s;
	-ms-grid-column:1;
    -ms-grid-row:2;
}

#loading-animation-wrapper .loading .loading-box:last-child {
	background-color: green;
	animation-delay: 0.8s;
	-ms-grid-column:2;
    -ms-grid-row:2;
}

@keyframes loading {
	0% 	 {opacity: 0;}
	40%  {opacity: 1;}
	50%  {opacity: 1;}
	70%  {opacity: 0;}
	100% {opacity: 0;}
}